<%- include("header") -%>
<body>
  <div class="container container1">
    <h3>Welcome To Domain Test</h3>
    <br />
    <form method="POST" action="/signup">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter name"
          id="name"
          name="user[Name]"
        />
      </div>
      <div class="form-group">
        <label for="email">Email ID:</label>
        <input
          type="email"
          class="form-control"
          placeholder="Enter email"
          id="email"
          name="user[Email]"
        />
      </div>
      <div class="form-group">
        <label for="Reg_no">Registration Number:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter registration number:"
          id="Reg_no"
          name="user[Reg_no]"
        />
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input
          type="password"
          class="form-control"
          placeholder="Enter password:"
          id="pwd"
          name="user[Password]"
        />
      </div>
      <div class="form-group">
        <label>
          <p>Already a User?&nbsp;<a href="/">Login</a></p>
        </label>
      </div>
      <button type="submit" class="btn btn-primary" onclick="validate();">SignUp</button>
    </form>
  </div>
  <!-- <%- include("footer") -%> -->
</body>
